name: Deploy to Server
on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: Debian
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/html/utils-web
            git pull origin master
            sudo systemctl restart nginx